# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# production
/dist
/build

# tauri
/src-tauri/target
/src-tauri/bin
/src-tauri/gen

# misc
.DS_Store
*.pem
.env
.env*.local
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# assets
/public/images
/public/sounds
/public/scenarios
